{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Bucket lists</h1>
    <h2>Track and achieve your ideas, wishes or even your life goals</h2>
    <p>Make a <strong>bucket list</strong> and discover what other members which to achieve.</p>
{% endblock %}

{% block title %}Ideas | Homepage{% endblock %}