{% extends 'layout.html.twig' %}
{% block main %}
    <h2>Published ideas</h2>
    {% for idea in ideas %}
        <div>
            <a href="{{ path('detail', {'id': idea.id}) }}" title="More details on {{ idea.title }}">
                <h5>{{ idea.title }}</h5>In category: {{ idea.category.name }}
            </a>

        </div>
    {% endfor %}
{% endblock %}

{% block title %} {% endblock %}