{% extends 'layout.html.twig' %}
{% block main %}
    <h2 class="project__heading">Published ideas</h2>
    {% for idea in ideas %}
        <div>
            <a href="{{ path('detail', {'id': idea.id}) }}" title="More details on {{ idea.title }}">
                <h5>{{ idea.title }}</h5>
            </a>
            <div class="project__tags">
            In category: {{ idea.category.name }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block title %}Ideas | List{% endblock %}