{% extends 'layout.html.twig' %}

{% block main %}

<form>    
    <div class="form-group">       
        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>

{% endblock %}

{% block title %}Registration{% endblock %}